# Composer
/vendor/
/composer.lock

# PHPUnit
/.phpunit.result.cache
/phpunit.xml

# PHPStan
/phpstan.php

# PHP-CS-Fixer
/.php_cs.cache
/.php-cs-fixer.php
/.php-cs-fixer.cache

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# Misc
.env